@page
@model EjemploPosgres.Pages.personas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].FechaReserva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Persona) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonaId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PersonaId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PersonaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
